@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
#542508, #b0663d

coffee-nav {
    background-color: #b0663d;
    overflow: hidden;
}

.hero{padding: 2% 6%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(187, 185, 185, 0.651), rgba(102, 45, 10, 0.586)), url(./Files/cup-6878196_1920.jpg);
    background-size: cover;
}

.navbar img {
    width: 150px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 100;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    float: right;
}

.nav-links ul li {
    margin-left: 35px;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 700;
    float: right;
    color: rgb(224, 207, 184);
}

.header-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 600px;
}


.header-content h2 {
    font-size: 2.5em;
    font-family: lato;
    font-weight: 800;
    margin: 0;
    line-height: 1.2;
    color: #e9c4ad;
}

.header-content h2 span {
    color: #b0663d;
    display: inline-block;
    position: relative;
}



/* 
body, html {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    color: #542508;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.coffee-nav{
    height: 100vh;
    background-image: linear-gradient(rgba(187, 185, 185, 0.651), rgba(102, 45, 10, 0.586)), url(./Files/cover\ png.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 2% 6%;
    box-sizing: border-box;
}

.coffee-nav img {
    left: 0;
    top: 0;
    width: 100%; 
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 100;
}

.nav-links ul {
    display: flex; 
    list-style-type: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: #f5f5f5;
    transition: color 0.3s ease;
    padding: 0px 5px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    list-style-type: none;
}



.main-nav nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links ul li {
    margin-left: 35px;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 700;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    list-style-type: none;
}

 */