/* General Body and Font Styling */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body, html {
    background-color: #f7eae3;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #b64e00;
    overflow-x: hidden;
    height: 100%; /* Prevents scrollbars from appearing */
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(19, 18, 18, 0.4), rgba(182, 78, 9, 0.4)), url(./Files/cup-6878196_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 2% 6%;
    box-sizing: border-box;
}


.navbar img {
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 100;
    margin-top: -100px;
    left: 0%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: relative;
    width: 100%;
    padding: 20px 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar ul li a {
    margin-left: 35px;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: -100px;
    color: #e9c4ad;
    text-decoration: none;
}
.navbar ul li a:hover {
    color: #b64e00;
    text-decoration: underline;
}


.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #e9c4ad;
    margin-top: 100px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #f09754;
}

.hero-content button {
    background-color: #b64e00;
    color: #e9c4ad;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.hero-content button:hover {
    background-color: #f09754;
    color: #fff;
}

.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 100;
}

.dot-active{
    background-color: #f09754;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    border: 2px solid #b64e00;
    transition: background-color 0.3s ease;
}

.dot {
    background-color: #f1e9e4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    border: 2px solid #ec9f64;
    transition: background-color 0.3s ease;
}

/*.coffee-section {
    padding: 50px 0;
    background-color: #f7eae3;
    text-align: center;
    color: #b64e00;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 50px;
}

.coffee-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    color: #b64e00;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
}

.coffee-item1 img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}

.coffee-item1 h3 {
    font-size: 2em;
    margin-bottom: 10px;
}
.coffee-item1 p {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
}
*/

.best-seller{
    width: 100%;
    max-width: 1200px;
}
.best-header{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}

.best-header h2{
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.best-header h2::after,
.best-header h2::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #b64e00;
    top: 40%;}

.best-header p{
    font-size: 1.5rem;
    color: #b64e00;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 10px auto 0;
}

.product-container{
    position: relative;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 10px;
    padding: 0 20px;
}

.product-card {
    background-color: #f1e9e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    transition: transform 0.3s ease;
}
.product-image img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.product-card:hover .product-image img{
    transform: scale(1.05);
}